vaultClients:
{% for vault_client in vg_vault_clients %}
  - rule: {{ vault_client.rule }}
    cls: {{ vault_client.cls }}
    config:
{% for item in vault_client.config %}
      {{ item.key }}: {{ item.value }}
{% endfor %}
{% endfor %}

tokenizer:
  cls: com.verygood.payments.vault.client.tokens.AWSKMSStringTokenizerFactory
  config:
    keyId: {{ vg_vault_aws_kms_key_id }}

tokenManager:
  cls: com.verygood.payments.vault.client.tokens.SQLTokenManagerFactory
  config:
    connectionString: {{ vg_vault_db_uri }}

logging:
  level: INFO

  # Logger-specific levels.
  loggers:

    com.verygoodgroup.payments.vault: CONFIG

  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
    - type: syslog
      host: {{ vg_vault_rsyslog_host }}
      port: {{ vg_vault_rsyslog_port }}
      facility: local0
      threshold: ALL
      stackTracePrefix: \t
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"

server:
  maxQueuedRequests: 65536
  applicationConnectors:
    - type: http
      port: {{ vg_vault_http_port }}
      bindHost: {{ vg_vault_http_bind }}
      selectorThreads: {{ vg_vault_thread_count }}
      acceptorThreads: {{ vg_vault_thread_count }}
  # HttpProxyServlet sits at the root, we're not currently using the DW API so bind it elsewhere.
  rootPath: '/api/*'

file_health_check:
  file_path: {{ vg_vault_file_health_check.file_path }}
  check_connectivity: {{ vg_vault_file_health_check.check_connectivity }}
  connectivity_timeout_in_ms: {{ vg_vault_file_health_check.connectivity_timeout_in_ms }}
  connectivity_hosts:
    - bind_host: 8.8.8.8
      port: 53
    - bind_host: 8.8.4.4
      port: 53
