handlers:
{% for vault_client in vg_vault_http_handlers %}
  - rule: {{ vault_client.rule }}
    cls: {{ vault_client.cls }}
    client: {{ vault_client.client }}
{% if vault_client.config %}
    config:
{% for item in vault_client.config %}
      {{ item.key }}: {{ item.value }}
{% endfor %}
{% endif %}
{% endfor %}

tokenizer:
  cls: com.verygood.payments.vault.client.tokens.AWSKMSStringTokenizerFactory
  config:
    keyId: {{ vg_vault_aws_kms_key_id }}

tokenManager:
  cls: com.verygood.payments.vault.client.tokens.SQLTokenManagerFactory
  config:
    connectionString: {{ vg_vault_db_uri }}
    driver: org.postgresql.Driver

fingerprinter:
  cls: com.verygood.payments.vault.client.fingerprints.BCryptFingerPrinter
  pepper: {{ vg_vault_pepper }}


{% if vg_vault_authentication_credentials %}
authenticationCredentials:
{% for item in vg_vault_authentication_credentials %}
  - username: {{ item.username }}
    passwordHash: {{ item.password_hash }}
{% endfor %}
{% endif %}

logging:
  level: {{ vg_vault_log_level_general }}

  # Logger-specific levels.
  loggers:

    com.verygood.payments: {{ vg_vault_log_level_internal }}

  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% if rsyslog_server_hostname %}
    - type: syslog
      host: {{ vg_vault_rsyslog_host }}
      port: {{ vg_vault_rsyslog_port }}
      facility: local0
      threshold: ALL
      stackTracePrefix: \t
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% endif %}

server:
  maxQueuedRequests: 65536
  applicationConnectors:
    - type: http
      port: {{ vg_vault_http_port }}
      bindHost: {{ vg_vault_http_bind }}
      selectorThreads: {{ vg_vault_thread_count }}
      acceptorThreads: {{ vg_vault_thread_count }}
  adminConnectors:
    - type: http
      port: {{ vg_vault_http_admin_port }}
      bindHost: {{ vg_vault_http_admin_bind }}
      selectorThreads: {{ vg_vault_thread_count }}
      acceptorThreads: {{ vg_vault_thread_count }}
  # HttpProxyServlet sits at the root, we're not currently using the DW API so bind it elsewhere.
  rootPath: '/api/*'

file_health_check:
  file_path: {{ vg_vault_file_health_check.file_path }}
  check_connectivity: {{ vg_vault_file_health_check.check_connectivity }}
  connectivity_timeout_in_ms: {{ vg_vault_file_health_check.connectivity_timeout_in_ms }}
  connectivity_hosts:
    - bind_host: 8.8.8.8
      port: 53
    - bind_host: 8.8.4.4
      port: 53
