host: {{ vg_vault_sftp_bind }}
port: {{ vg_vault_sftp_port }}

# relative to config file
hostKeyFile: vault-sftp.key

# Remote server connect timeout in millis
connectTimeout: 10000

# Short format used -- just class name, no config
# Long format is also available:
# tokenManager:
#   cls: fully qualified class name
#   config:
#     key1: value1
#     key2: value2
tokenManager: com.verygood.payments.sftp.client.ReverseTokenManager$Factory

# Short format, see tokenManager comment for long format
tokenizer: com.verygood.payments.sftp.client.IdentityTokenizer$Factory

# Short format, see tokenManager comment for long format
fingerprinter:
  cls: com.verygood.payments.vault.client.fingerprints.BCryptFingerPrinter
  pepper: {{ vg_vault_pepper }}

clients:
{% for vault_user in vg_vault_sftp_users %}
  - username: {{ vault_user.username }}
    passwordHash: {{ vault_user.passwordHash }}
{% endfor %}

servers:
{% for vault_client in vg_vault_sftp_handlers %}
  - rule: {{ vault_client.rule }}
    client: {{ vault_client.client }}
    host: {{ vault_client.host }}
    port: {{ vault_client.port }}
    username: {{ vault_client.username }}
    password: {{ vault_client.password }}
{% endfor %}

logging:
  level: {{ vg_vault_log_level_general }}

  # Logger-specific levels.
  loggers:

    com.verygoodgroup.payments.vault: {{ vg_vault_log_level_internal }}

  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% if rsyslog_server_hostname %}
    - type: syslog
      host: {{ vg_vault_rsyslog_host }}
      port: {{ vg_vault_rsyslog_port }}
      facility: local0
      threshold: ALL
      stackTracePrefix: \t
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% endif %}
