# {{ ansible_managed }}
[program:vault-sftp]
command=java "{{ vg_vault_sftp_jvm_options }}"
    -javaagent:"{{ vg_vault_newrelic_home }}"/newrelic.jar
    -Dnewrelic.environment="{{ vg_vault_environment }}"
    -jar "{{ vg_vault_sftp_binary }}" --config "{{ vg_vault_sftp_default_config }}"
user={{ vg_vault_user }}
autostart=true
autorestart=true
directory={{ vg_vault_home }}
redirect_stderr=true
redirect_stderr=false
stdout_logfile=syslog
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=1
stdout_capture_maxbytes=0
stdout_events_enabled=false
stderr_logfile=syslog
stderr_logfile_maxbytes=20MB
stderr_logfile_backups=1
stderr_capture_maxbytes=0
stderr_events_enabled=false
