[program:vault-http]
command=java -jar {{ vg_vault_binary }} server {{ vg_vault_config_http }}
user={{ vg_vault_user }}
autostart=true
autorestart=true
redirect_stderr=true
redirect_stderr=false
stdout_logfile=/var/log/{{ vg_vault_user }}/{{ vg_vault_version }}.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=1
stdout_capture_maxbytes=0
stdout_events_enabled=false
