host: {{ vg_vault_sftp_bind }}
port: {{ vg_vault_sftp_port }}

# relative to config file
hostKeyFile: vault-sftp.key

clients:
  - username: john
    password: secret

servers:
  - rule: username == "john"
    host: test.rebex.net
    port: 22
    username: demo
    password: password

logging:
  level: {{ vg_vault_log_level_general }}

  # Logger-specific levels.
  loggers:

    com.verygoodgroup.payments.vault: {{ vg_vault_log_level_internal }}

  appenders:
    - type: console
      threshold: ALL
      timeZone: UTC
      target: stdout
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% if rsyslog_server_hostname %}
    - type: syslog
      host: {{ vg_vault_rsyslog_host }}
      port: {{ vg_vault_rsyslog_port }}
      facility: local0
      threshold: ALL
      stackTracePrefix: \t
      logFormat: "%d{ISO8601}|Δ<%r>|%level|%logger|Thd<%t>: %X{code} %m%n%rEx"
{% endif %}
