# {{ ansible_managed }}
[program:vault-http]
command=java {{ vg_vault_http_jvm_options }}
    -javaagent:{{ vg_vault_newrelic_home }}/newrelic.jar
    -Dnewrelic.environment={{ vg_vault_environment }}
    -Dvault.http.env=vault.http.{{ vg_vault_environment }}.yml
    -cp "{{ vg_vault_home }}*:{{ vg_vault_config_overrides_dir }}*:"
    com.verygood.payments.vault.VaultApplication server "{{ vg_vault_http_default_config }}"
user={{ vg_vault_user }}
oautostart=true
autorestart=true
directory={{ vg_vault_home }}
redirect_stderr=true
redirect_stderr=false
stdout_logfile=syslog
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=1
stdout_capture_maxbytes=0
stdout_events_enabled=false
stderr_logfile=syslog
stderr_logfile_maxbytes=20MB
stderr_logfile_backups=1
stderr_capture_maxbytes=0
stderr_events_enabled=false
